@import "tailwindcss";
@plugin "daisyui";

@keyframes enter {
  from {
    transform: translateY(-0.2rem);
    opacity: 0.5;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}


[role="alert"]>* {
  @apply bg-error-content;
  @apply border;
  @apply border-warning-content;
  @apply rounded-field;
  @apply m-2;

  padding: 1rem;
  animation-name: enter;
  animation-duration: .25s !important;
}

.switch-text {
  animation-name: enter;
  animation-duration: .25s !important;
}


tr:nth-child(1)>th.row-rank {
  color: gold;
  font-weight: bolder;
}

tr:nth-child(2)>th.row-rank {
  color: silver;
  font-weight: bolder;
}

tr:nth-child(3)>th.row-rank {
  @apply text-warning;
  font-weight: bolder;
  opacity: 70%;
}

input[type=time]::-webkit-datetime-edit-ampm-field {
  display: none;
}
