---
import MainLayout from "../layouts/main.astro";
---

<MainLayout title="Page not found">
	<section style="text-align: center;">
		<hgroup>
			<h1>Page not found.</h1>
			<hr />
			<p>Please try again soon.</p>
		</hgroup>
	</section>
</MainLayout>
