---
import "../styles/styles.scss";
import MainLayout from "../layouts/main.astro";
---

<MainLayout title="System Down">
	<section>
		<hgroup>
			<h1>
				Sorry about that. An unknown error has occurred.
			</h1>
			<hr />
			<p>Please try again soon.</p>
		</hgroup>
	</section>
</MainLayout>
