---
import MainLayout from "../layouts/main.astro";
import NewLeaderboardForm from "@/components/NewLeaderboardForm.astro";
---

<MainLayout title="Top K Today">
	<script>
		import "cally";
	</script>
	<div class="hero bg-base-200 min-h-screen">
		<div class="hero-content flex-col lg:flex-row-reverse">
			<div class="text-center lg:text-left mx-2 xl:mb-64">
				<h1 class="text-5xl font-bold">
					Make a daily leaderboard in seconds.
				</h1>
				<p class="py-6 text-xl">
					Keep track of the <span
						id="title-best-subject"
						class="switch-text"
						>top coders</span
					>
					<span
						id="title-group-subject"
						class="switch-text"
					>
						in your hackathon event</span
					>.
				</p>
			</div>
			<div
				class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl mx-2 xl:mb-64"
			>
				<div class="card-body">
					<NewLeaderboardForm />
				</div>
			</div>
		</div>
		<script>
			import { addCarousel } from "@/lib/client/utils";

			let interval_id: null | ReturnType<typeof setInterval>;
			function init() {
				interval_id = addCarousel(
					interval_id,
					"title-best-subject",
					"title-group-subject",
				);
			}
			document.addEventListener(
				"astro:before-swap",
				() => {
					if (interval_id) {
						clearInterval(interval_id);
						interval_id = null;
					}
				},
				{
					once: true,
				},
			);

			document.addEventListener("astro:page-load", () => {
				init();
			});
		</script>
	</div></MainLayout
>
