---
import SocialLoginButtons from "@/components/SocialLoginButtons.astro";
import MainLayout from "../layouts/main.astro";
---

<MainLayout title="Register">
	<div class="flex flex-col h-screen items-center bg-base-200">
		<div class="flex flex-col lg:min-w-96">
			<div
				class="card bg-base-100 shadow-sm border-base-300 text-base-content px-4 my-6"
				id="leaderboard-article"
			>
				<div class="card-body">
					<form id="register-form">
						<fieldset class="fieldset mb-6">
							<legend
								class="text-3xl fieldset-legend"
							>
								Create a new
								account.
							</legend>
							<label
								class="fieldset-label"
							>
								Username
								(optional)
							</label>
							<input
								class="input"
								name="username"
								id="username"
								placeholder="Username"
								autocomplete="username"
							/>
							<small
								>Upper and
								lowercase
								characters,
								numbers, and '.'
								and '-' only.</small
							>
							<label
								for="email"
								class="fieldset-label"
								>Email</label
							>
							<input
								class="input"
								type="email"
								id="email"
								name="email"
								placeholder="Email"
								autocomplete="email"
							/>

							<label
								for="password"
								class="fieldset-label"
								>Password</label
							>
							<input
								class="input"
								type="password"
								id="password"
								name="password"
								placeholder="Password"
								autocomplete="new-password"
							/>

							<small
								>Upper and
								lowercase
								characters,
								numbers, and '.'
								and '-' only.</small
							>
						</fieldset>

						<div
							class="flex flex-col items-center justify-center gap-6"
						>
							<button
								class="btn btn-accent"
								type="submit"
								>Create Account</button
							>
							<a
								class="link link-primary"
								href="/login"
								id="login-page"
								style="cursor: pointer;"
								>Log In to
								Existing Account</a
							>
						</div>
						<div
							class="divider text-neutral-content"
						>
						</div>
					</form>
					<div role="alert" aria-live="assertive">
					</div>

					<footer>
						<SocialLoginButtons />
					</footer>

					<script>
						import { navigate } from "astro:transitions/client";
						import { ACCOUNT_PAGE_BASE } from "@/lib/client/urls";
						import { setupForm } from "@/lib/client/utils";
						import { authClient } from "@/lib/client/auth-client";
						import { signUpFormSchema } from "@/lib/client/schemas";

						setupForm(
						document.querySelector(
							"#register-form",
						) as HTMLFormElement, {
							onBusy: "Creating...",
							schema: signUpFormSchema,
							onSubmit: async (submission: {
								username: string;
								email: string;
								password: string;
							}) => {
								const resp =
									await authClient.signUp.email(
										{
											name: submission.username,
											username: submission.username,
											email: submission.email,
											password: submission.password,
										},
										{
											onSuccess: () => {
												navigate(
													ACCOUNT_PAGE_BASE,
												);
											},
										},
									);

								if (
									resp.error
								) {
									throw new Error(
										"Error registering new user.",
									);
								} else {
								}

								return true;
							},
						});
					</script>
				</div>
			</div>
		</div>
	</div></MainLayout
>
