---
const { id, text } = Astro.props;
---

<div>
	<div
		class="tooltip tooltip-right"
		data-tip="Click to copy"
		data-placement="right"
		data-copylink={`www.topktoday.dev/leaderboard/${id}`}
		id="copy-link"
	>
		<u class="lg:text-2xl xl:text-3xl link link-primary link-hover">
			{text}
		</u>
	</div>
	<script>
		const copyLink = document.querySelector(
			"#copy-link",
		) as HTMLSpanElement;

		document.addEventListener("astro:page-load", () => {
			copyLink.addEventListener("click", (e) => {
				e.preventDefault();
				copyLink.setAttribute(
					"data-tip",
					"Copied to clipboard!",
				);
				navigator.clipboard.writeText(
					copyLink.dataset.copylink ||
						"www.topktoday.dev",
				);

				setTimeout(() => {
					copyLink.removeAttribute("data-tip");

					setTimeout(() => {
						copyLink.setAttribute(
							"data-tip",
							"Click to copy",
						);
					}, 1000);
				}, 1000);
			});
		});
	</script>
</div>
