---
const { id } = Astro.props;
---

<div>
	<div
		class="tooltip tooltip-right"
		data-tip="Click to copy"
		data-placement="right"
		id="copy-link"
	>
		<u class="text-xs lg:text-md xl:text-md">
			{`www.topktoday.dev/leaderboard/${id}`}
		</u>
	</div>
	<script>
		const copyLink = document.querySelector(
			"#copy-link",
		) as HTMLSpanElement;

		document.addEventListener("astro:page-load", () => {
			copyLink.addEventListener("click", (e) => {
				e.preventDefault();
				copyLink.setAttribute(
					"data-tip",
					"Copied to clipboard!",
				);
				navigator.clipboard.writeText(
					copyLink.innerHTML,
				);

				setTimeout(() => {
					copyLink.removeAttribute("data-tip");

					setTimeout(() => {
						copyLink.setAttribute(
							"data-tip",
							"Click to copy",
						);
					}, 1000);
				}, 1000);
			});
		});
	</script>
</div>
