---
const { id } = Astro.props;
---

<div>
	<a
		class="secondary"
		data-tooltip="Click to copy"
		data-placement="right"
		id="copy-link">{`www.topktoday.dev/leaderboard/${id}`}</a
	>
	<script>
		const copyLink = document.querySelector(
			"#copy-link",
		) as HTMLSpanElement;

		document.addEventListener("astro:page-load", () => {
			copyLink.addEventListener("click", (e) => {
				e.preventDefault();
				copyLink.setAttribute(
					"data-tooltip",
					"Copied to clipboard!",
				);
				navigator.clipboard.writeText(
					copyLink.innerHTML,
				);

				setTimeout(() => {
					copyLink.removeAttribute(
						"data-tooltip",
					);

					setTimeout(() => {
						copyLink.setAttribute(
							"data-tooltip",
							"Click to copy",
						);
					}, 1000);
				}, 1000);
			});
		});
	</script>
</div>
