---
const { link, directionBottom = false } = Astro.props;
---

<copy-link>
	<span
		class={directionBottom
			? "tooltip tooltip-bottom"
			: "tooltip tooltip-right"}
		data-tip="Click to copy"
		data-copylink={link}
		id="copy-link"
	>
		<slot />
	</span>
	<script>
		class CopyLink extends HTMLElement {
			connectedCallback() {
				const copyLink = this.querySelector(
					"#copy-link",
				) as HTMLSpanElement;
				copyLink.addEventListener("click", (e) => {
					e.preventDefault();
					copyLink.setAttribute(
						"data-tip",
						"Copied to clipboard!",
					);
					navigator.clipboard.writeText(
						copyLink.dataset.copylink ||
							"www.topktoday.dev",
					);

					setTimeout(() => {
						copyLink.removeAttribute(
							"data-tip",
						);

						setTimeout(() => {
							copyLink.setAttribute(
								"data-tip",
								"Click to copy",
							);
						}, 1000);
					}, 1000);
				});
			}
		}

		customElements.define("copy-link", CopyLink);
	</script>
</copy-link>
