---
var date = new Date();
var one_day_forward = new Date();
one_day_forward.setDate(date.getDate() + 1);

one_day_forward.setMilliseconds(0);
one_day_forward.setSeconds(0);
date.setMilliseconds(0);
date.setSeconds(0);

const today = date.toISOString().replace(":00.000Z", "");
const tomorrow = one_day_forward.toISOString().replace(":00.000Z", "");
const { ismodal } = Astro.props;
console.log(ismodal);
---

<>
	<modal-form data-ismodal={ismodal}>
		<form id="new-leaderboard">
			<fieldset class="fieldset">
				<legend class="fieldset-legend"> Title </legend>
				<input
					class="input w-full"
					name="title"
					placeholder="Today's Bar Trivia Rankings"
					aria-label="new-leaderboard-title"
					autocomplete="new-leaderboard-title"
				/>

				<p class="fieldset-label">
					This title will be public.
				</p>
			</fieldset>

			<div class="divider">Leaderboard Options</div>
			<fieldset class="fieldset flex-col justify-between">
				<div
					class="inline-flex items-center justify-start gap-3"
				>
					<legend class="fieldset-legend">
						Rank by:
					</legend>

					<label
						class="fieldset-label"
						for="highest-score"
					>
						<input
							class="radio"
							type="radio"
							name="is-highest-score"
							id="highest-score"
							checked
						/>
						Highest score</label
					>
					<label
						for="lowest-time"
						class="fieldset-label"
					>
						<input
							class="radio"
							type="radio"
							name="is-highest-score"
							id="lowest-time"
						/>
						Lowest time</label
					>
				</div>
			</fieldset>
			<fieldset
				class="fieldset flex-col items-center justify-between"
			>
				<div
					class="inline-flex items-center justify-start gap-2"
				>
					<legend class="fieldset-legend">
						Users can submit more than once:
					</legend>

					<label
						class="fieldset-label"
						for="multiple-submissions-yes"
					>
						<input
							class="radio"
							type="radio"
							name="multiple-submissions"
							id="multiple-submissions-yes"
							checked
						/>
						Yes</label
					>
					<label
						for="multiple-submissions-no"
						class="fieldset-label"
					>
						<input
							class="radio"
							type="radio"
							name="multiple-submissions"
							id="multiple-submissions-no"
						/>
						No</label
					>
				</div>
			</fieldset>

			<fieldset class="fieldset">
				<div
					class="inline-flex items-center justify-start gap-2"
				>
					<legend class="fieldset-legend"
						>Allow submissions:
					</legend>

					<label
						class="fieldset-label"
						for="start-immediately-yes"
					>
						<input
							class="radio"
							type="radio"
							name="start-immediately"
							id="start-immediately-yes"
							checked
						/>

						Immediately
					</label>
					<label
						class="fieldset-label"
						for="start-immediately-no"
					>
						<input
							class="radio"
							type="radio"
							name="start-immediately"
							id="start-immediately-no"
						/>
						Custom date
					</label>
				</div>

				<label
					id="custom-start-date-picker"
					class="input w-full"
					hidden
				>
					<span class="label">Start date:</span>
					<input
						class="flex-inline justify-end"
						type="datetime-local"
						name="start-date-custom"
						aria-label="Start date local"
						value={today}
					/>
				</label>
			</fieldset>
			<fieldset class="fieldset">
				<div
					class="inline-flex flex-inline justify-between"
				>
					<legend class="fieldset-legend">
						Stop accepting submissions
						after:</legend
					>

					<select
						class="select w-max"
						name="duration-raw"
					>
						<option value="P1H"
							>1 hour</option
						>
						<option value="P1D" selected
							>1 day</option
						>
						<option value="P1W"
							>1 week</option
						>
						<option value="P1M"
							>1 month</option
						>
						<option value="Never"
							>Never</option
						>
					</select>
				</div>
			</fieldset>

			<div class="flex items-center justify-center">
				<button
					class="btn btn-primary mt-4 btn-xs sm:btn-sm md:btn-md lg:btn-lg xl:btn-lg"
					type="submit">Get Link</button
				>
			</div>
		</form>
		<div role="alert" aria-live="assertive"></div>
	</modal-form>
	<script>
		import {
			setupForm,
			hideBasedOn,
			addCarousel,
		} from "@/lib/client/utils";
		import { newLeaderboard } from "@/lib/client/formSubmits";
		import { newLeaderboardSchema } from "@/lib/client/schemas";
		import { LEADERBOARD_PAGE_BASE } from "@/lib/client/urls";
		import { navigate } from "astro:transitions/client";

		class ModalForm extends HTMLElement {
			connectedCallback() {
				const message = this.dataset.ismodal;

				hideBasedOn(
					document.querySelector(
						"#start-immediately-yes",
					),
					document.querySelector(
						"#start-immediately-no",
					),
					document.querySelector(
						"label#custom-start-date-picker",
					),
				);

				setupForm(
					this.querySelector("#new-leaderboard"),
					{
						onBusy: "Creating...",
						schema: newLeaderboardSchema,
						onSubmit: async (
							submission,
						) => {
							const id =
								await newLeaderboard(
									submission,
								);

							await navigate(
								`${LEADERBOARD_PAGE_BASE}/${id}`,
							);

							return true;
						},
					},
				);
			}
		}

		customElements.define("modal-form", ModalForm);
	</script>
</>
