---
import AppleLogo from "@/components/icons/apple.svg";
import GoogleLogo from "@/components/icons/google.svg";
import DiscordLogo from "@/components/icons/discord.svg";
import TwitchLogo from "@/components/icons/twitch.svg";
import GithubLogo from "@/components/icons/github.svg";
---

<>
	<fieldset class="flex flex-col gap-2" id="social-logins">
		<button class="btn bg-black text-white border-black">
			<svg
				aria-label="GitHub logo"
				width="16"
				height="16"
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 24 24"
				><path
					fill="white"
					d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z"
				></path></svg
			>
			Login with GitHub
		</button>
		<!-- Google -->
		<button class="btn bg-white text-black border-[#e5e5e5]">
			<svg
				aria-label="Google logo"
				width="16"
				height="16"
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 512 512"
				><g
					><path d="m0 0H512V512H0" fill="#fff"
					></path><path
						fill="#34a853"
						d="M153 292c30 82 118 95 171 60h62v48A192 192 0 0190 341"
					></path><path
						fill="#4285f4"
						d="m386 400a140 175 0 0053-179H260v74h102q-7 37-38 57"
					></path><path
						fill="#fbbc02"
						d="m90 341a208 200 0 010-171l63 49q-12 37 0 73"
					></path><path
						fill="#ea4335"
						d="m153 219c22-69 116-109 179-50l55-54c-78-75-230-72-297 55"
					></path></g
				></svg
			>
			Login with Google
		</button>

		<!-- Facebook -->
		<button class="btn bg-[#1A77F2] text-white border-[#005fd8]">
			<svg
				aria-label="Facebook logo"
				width="16"
				height="16"
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 32 32"
				><path
					fill="white"
					d="M8 12h5V8c0-6 4-7 11-6v5c-4 0-5 0-5 3v2h5l-1 6h-4v12h-6V18H8z"
				></path></svg
			>
			Login with Facebook
		</button>


		<!-- Apple -->
		<button class="btn bg-black text-white border-black">
			<svg
				aria-label="Apple logo"
				width="16"
				height="16"
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 1195 1195"
				><path
					fill="white"
					d="M1006.933 812.8c-32 153.6-115.2 211.2-147.2 249.6-32 25.6-121.6 25.6-153.6 6.4-38.4-25.6-134.4-25.6-166.4 0-44.8 32-115.2 19.2-128 12.8-256-179.2-352-716.8 12.8-774.4 64-12.8 134.4 32 134.4 32 51.2 25.6 70.4 12.8 115.2-6.4 96-44.8 243.2-44.8 313.6 76.8-147.2 96-153.6 294.4 19.2 403.2zM802.133 64c12.8 70.4-64 224-204.8 230.4-12.8-38.4 32-217.6 204.8-230.4z"
				></path></svg
			>
			Login with Apple
		</button>

		<!-- Slack -->
		<button class="btn bg-[#622069] text-white border-[#591660]">
			<svg
				aria-label="Slack logo"
				width="16"
				height="16"
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 512 512"
				><g stroke-linecap="round" stroke-width="78"
					><path
						stroke="#36c5f0"
						d="m110 207h97m0-97h.1v-.1"
					></path><path
						stroke="#2eb67d"
						d="m305 110v97m97 0v.1h.1"
					></path><path
						stroke="#ecb22e"
						d="m402 305h-97m0 97h-.1v.1"
					></path><path
						stroke="#e01e5a"
						d="M110 305h.1v.1m97 0v97"
					></path></g
				></svg
			>
			Login with Slack
		</button>

	</fieldset>
	<script>
		import { authClient } from "@/lib/client/auth-client";
		document.addEventListener("astro:page-load", () => {
			document.querySelectorAll(
				"#social-logins>button",
			).forEach((button) => {
				button.addEventListener("click", (event) => {
					event.preventDefault();
					authClient.signIn.social({
						provider: button.id as
							| "github"
							| "discord"
							| "twitch"
							| "google"
							| "apple",
					});
				});
			});
		});
	</script>
</>
